# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

__Objectives:__
- Julia
- Python
- R

1. Python
2. R
3. Julia
4. Scala

### Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Plotly
4. Ggplot2

| Data Science Tools |
|-------------------|
| Weka |
| JupyterNoteBook |
| KNIME |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [17]:
200 / 60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Viki Mkhize